pkgbase = noto-fonts-emoji
	pkgdesc = Google Noto Emoji font
	pkgver = 2.051
	pkgrel = 2
	epoch = 1
	url = https://fonts.google.com/noto
	arch = any
	license = OFL-1.1
	provides = emoji-font
	source = https://github.com/googlefonts/noto-emoji/archive/refs/tags/v2.051.zip
	b2sums = 52e27896626703b2bff43dcf85aab91e8e9ab71dd1bc940abe19bbebc0f026fae610681221200abeffd55351ea4cc019295815435f224577bf784d074efadc8c

pkgname = ttf-noto-fonts-emoji
	provides = emoji-font
	provides = noto-fonts-emoji
	conflicts = noto-fonts-emoji
	replaces = noto-fonts-emoji
